.full-width {
  width: 95%
}

.half-width {
  width: 45%
}

.form-size {
  width: 75%
}

agm-map {
  height: 300px;
}

#map {
  height: 300px;
}

.mapa iframe {
  width: 100%;
}

.iframe {
  border: 0;
}
