<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contactanos</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Information de nuestra ubicación</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Nuestra dirección</h4>
        <address style="text-size: 80%">
          <i class="fa fa-map-marker"></i>: Av. Villazon Km 10 <br> Sacaba, Cochabamba, Bolivia<br>
          <i class="fa fa-mobile"></i>: +581 76929321<br>
          <i class="fa fa-whatsapp"></i>: +581 60382038<br>
          <i class="fa fa-phone"></i>: +581 4664677<br>
          <i class="fa fa-fax"></i>: +581 4664677<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:rd-info@gmail.com">rd-info@gmail.com</a>

        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel: +581 4664677"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto: rd-info@gmail.com "><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Mapa de nustra Ubicación</h4>
      </div>
    </div>
  </div>
</div>
