@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// some basic presets

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  margin: 20px;
  display: flex;
}
